/class_12/vendor/
/class_12/node_modules/
/class_12/npm-debug.log
/class_12/yarn-error.log

# Laravel 4 specific
/class_12/bootstrap/compiled.php
/class_12/app/storage/

# Laravel 5 & Lumen specific
/class_12/public/storage
/class_12/public/hot

# Laravel 5 & Lumen specific with changed public path
/class_12/public_html/storage
/class_12/public_html/hot

/class_12/storage/*.key
/class_12/.env
/class_12/Homestead.yaml
/class_12/Homestead.json
/class_12/.vagrant
/class_12/.phpunit.result.cache