/TDD_Project/vendor/
/TDD_Project/node_modules/
/TDD_Project/npm-debug.log
/TDD_Project/yarn-error.log

# Laravel 4 specific
/TDD_Project/bootstrap/compiled.php
/TDD_Project/app/storage/

# Laravel 5 & Lumen specific
/TDD_Project/public/storage
/TDD_Project/public/hot

# Laravel 5 & Lumen specific with changed public path
/TDD_Project/public_html/storage
/TDD_Project/public_html/hot

/TDD_Project/storage/*.key
/TDD_Project/.env
/TDD_Project/Homestead.yaml
/TDD_Project/Homestead.json
/TDD_Project/.vagrant
/TDD_Project/.phpunit.result.cache